<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>LankaSpin Attendence Sheet</h2>

<table>
  <tr>
    <th>EPF NO</th>
    <th>Employee Name</th>
    <th>Check In</th>
    <th>Check Out</th>
  </tr>
  <form action="" method="post">
    {% csrf_token %}
    <input type="date" class="form-control" name="date"><br>
  {% for data in con %}
  <tr>
    <td> <input type="text"  name="barcode" value="{{ data.barcode }}" readonly></td> <input type="hidden"  name="id" value="{{ data.id }}" readonly>
    <td><input type="text"  name="name" value="{{ data.name }}" readonly></td>
    <td><input type="time" class="form-control" name="in"></td>
    <td><input type="time" class="form-control" name="out">   
        <select id="cars" name="shift">
        <option value="d_shift">Day Shift</option>
        <option value="n_shift">Night Shift</option>
      </select><br></td>
  </tr>
  {% endfor %} 
  <button class="btn btn-success mx-1" type="submit" >Submit</button>
  </form>
</table>




</body>
</html>
