<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
  <div class="row " style="height: 100%;">
    <div class="container-fluid " style="">

      
      <div class="row h-100">    
        <div class="col-12 col-lg-6 col-md-11 col-sm-12 mx-auto border border-success py-4 ">
          <div class="row">
            <img src="https://lankaspin.com/wp-content/uploads/2020/02/logo-165x41-3.png" class="mx-auto my-2 shadow shadow-lg" width="300px" alt="">
   
          </div>
              <h1 class="text-primary text-center">Welcome</h1> 
              <div id="javamsg" class="d-none alert alert-danger">
                ss
                  
              </div>
              <div>
                {% if msg is not None %}
                  {% if msgtype == "1" %}
                  <div class="alert alert-success">
                  {% else %}
                  <div class="alert alert-danger">
                  {% endif %}
                    {{msg}}
                  </div>             
                {% endif %}
                  <input type="hidden" id="check_pin" value="{{ context.pin }}">

              </div>
              <div class="col-lg-9 mx-auto">  
                <form method="POST">
                  {% csrf_token %}
                <div class="form-group ">
                  <input type="text" name="loin_id" id="login_id" class="form-control form-control-lg border border-primary" placeholder="EPF No.">
                  <input type="password" name="con_login_id" id="con_login_id" class="d-none form-control form-control-lg mt-4 border border-primary" placeholder="Confirm EPF No.">
                  <input type="hidden" name="employeeid" value="{{ context.employeeid }}"  >
                </div>
                <div class="from-group row">
                  <div class="button-group mx-auto">
                    <button type="button" class="btn btn-success btn-lg" id="btn-confirm" tit='0'>Confirm</button>
                    <button type="reset" class="btn btn-danger btn-lg" id="btn-cancel">Cancel</button>
                  </div>               
  
                </div>
              </form>
              </div> 
              
              
              
              <!-- start number pad -->
              <div class="shadow-lg">
                <div id="numericInput" class=" m-2 p-1 ">
                  
                  <div class="">
                      <div class="row bg-dark">
                          <div class="col-4 btn">
                              <div class="key btn-primary btn-lg">1</div>
                          </div>
                          <div class="col-4 btn ">
                            <div class="key btn-primary btn-lg">2</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">3</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">4</div>
                          </div>
                          <div class="col-4 btn">
                          <div class="key btn-primary btn-lg">5</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">6</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">7</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">8</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">9</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="bkey btn-primary btn-lg">DEL</div>
                          </div>
                          <div class="col-4 btn">
                            <div class="key btn-primary btn-lg">0</div>
                          </div>
                          <div class="col-4 btn">
                            <div class=" bkey btn-primary btn-lg">CLR</div>
                          </div>
                      </div>

                  </div>
                  
              </div>
              </div>
        </div>
      </div>
  
    </div>
  </div>
 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script >
  $(document).ready(function(){
    var check_pin = $("#check_pin").val();  // IF PIN IS EMPTY IN HIDDEN FIELD
    if (check_pin != ""){       // IF PIN IS NOT EMPTY IN SHOW CONFIRM PASSWORD FIELD
      $("#login_id").addClass("d-none");
      $("#con_login_id").removeClass("d-none");          
    }

    $("#btn-confirm").click(function(){   
        if (check_pin ==""){    //pin check for validation
          var epf_no = $("#login_id").val();       
          if (epf_no !="" ){
            window.location.href="/login/"+epf_no;
          }else{
            //var con_check_pin =$("#con_check_pin").val(); 
            $("#javamsg").removeClass("d-none");
            $("#javamsg").text("Type your EPF Number");          
          }
        }else{
          var con_epf_no = $("#con_login_id").val();       
          if (con_epf_no !="" ){
              if(con_epf_no == check_pin){
                $("#btn-confirm").attr("type","submit");
                //alert(con_epf_no);
                //window.location.href="/login/"+epf_no;  // send data to form after all validation
                // url ="/login";
                // var xhr = new XMLHttpRequest()
                // xhr.open("POST", url, true);
                // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                // xhr.send(con_epf_no);
              }
              else{
                $("#javamsg").removeClass("d-none");
                $("#javamsg").text("Again Type your EPF Number correctly"); 
              }
            
            //window.location.href="/login/"+epf_no;
          }else{
            //var con_check_pin =$("#con_check_pin").val(); 
            $("#javamsg").removeClass("d-none");
            $("#javamsg").text("Again Type your EPF Number ");          
          }
        }
        
    });


    //  number pad start *******************
    $('.key').click(function(){
        var val = $("#btn-confirm").attr('tit');
        if(check_pin == ""){
          var numBox = document.getElementById('login_id');
          if(this.innerHTML == '0'){
              if (numBox.value.length > 0)
                  numBox.value = numBox.value + this.innerHTML;
          }
          else
              numBox.value = numBox.value + this.innerHTML;
          
          event.stopPropagation();
        }else{
          var numBox = document.getElementById('con_login_id');
          if(this.innerHTML == '0'){
              if (numBox.value.length > 0)
                  numBox.value = numBox.value + this.innerHTML;
          }
          else
              numBox.value = numBox.value + this.innerHTML;
          
          event.stopPropagation();
        }
        
    });
    
    $('.bkey').click(function(){
      var val = $("#btn-confirm").attr('tit');
        if(check_pin == ""){
          if(this.innerHTML == 'DEL'){
            var numBox = document.getElementById('login_id');
            if(numBox.value.length > 0){
                numBox.value = numBox.value.substring(0, numBox.value.length - 1);
            }
          }
          else{
              document.getElementById('login_id').value = '';
          }
          
          event.stopPropagation();
        }else{
          if(this.innerHTML == 'DEL'){
            var numBox = document.getElementById('con_login_id');
            if(numBox.value.length > 0){
                numBox.value = numBox.value.substring(0, numBox.value.length - 1);
            }
          }
          else{
              document.getElementById('con_login_id').value = '';
          }
          
          event.stopPropagation();
        }
        
    });
    //  number pad stop *******************

    
      
        // var val = $("#check_pin").val("tit");        
        // if(val =="0"){
        //   var pin1 = $("#login_id").val();
        //   window.location.href="/login/"+pin1;
          
        //   var loginval = $("#login_id").attr("value");
        //   //$("#btn-confirm").attr("tit","1");
        //   $("#login_id").addClass("d-none");
        //   $("#con-login_id").removeClass("d-none");
          
        // }else{
        //   $("#btn-confirm").attr("tit","0");
        //   $("#login_id").removeClass("d-none");
        //   $("#con-login_id").addClass("d-none");
          
        // }
        
    
});

</script>
</body>
</html>